.info{
    background:  #cdedf6; /* light blue ~ change later */
}

body {
    font-family: 'Pacifico', cursive;
    color:#cdedf6;
   /*  background: url(../Images/bcg.jpeg)center/cover fixed no-repeat; */
    
}

#menu{
    background: url(../Images/bcg.jpeg)center/cover fixed no-repeat;

}
.main-color {
    color:#266dd3; /* dark blue ~ change later */
}

.info h2 {
    word-spacing: 0.2rem; /* responsive word spacing */
}
/*.info a {
    transition: color 2s ease-in-out;
}
*/
.info a:hover {
    color: #d3325f;
}
.container-fluid{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
/* .container-fluid > div {
    width:100%;
    height:100%;
}
*/ 
img {
   max-width: 100%;
   max-height: 100%;
}
.logo{
    width:80px;
    height:80px
}
a:link{
    text-decoration: none;
}
/* header Sections       *****/

#header{
    min-height: calc(100vh - 94px);
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/sushi.jpg);
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position:relative;
}
.height-90{
    min-height: calc(100vh - 94px);

}
.banner h1 {
    border-top:6px dotted #d3325f;
    border-bottom:6px dotted #d3325f;
    animation: banner-left-right;
    animation-duration: 3s;
    animation-delay:1s;
    opacity:0;
    animation-fill-mode: forwards; /* ensure text stays after initial animation */
    
}

@keyframes banner-left-right{
    0%{
        transform: translateX(-100px); /* at 0% move off screen by 100px; */
        opacity:0;
        
    }
    50%{
        transform: translateX(30px)
    }
    100%{
        transform: translateX(0); /* go back to original */;
        opacity:1;
    }
}

@keyframes view-menu-animation{
    0%{
        transform: translateX(-100px); /* at 0% move off screen by 100px; */
        opacity:0;
        
    }
    50%{
        transform: translateX(12px)
    }
    100%{
        transform: translateX(0); /* go back to original */;
        opacity:1;
    }
}

@keyframes reserve-animation{
    0%{
        transform: translateX(100px); /* at 0% move off screen by 100px; */
        opacity:0;
        
    }
    50%{
        transform: translateX(-10px)
    }
    100%{
        transform: translateX(0); /* go back to original */;
        opacity:1;
    }
}


.reserve-btn{
    animation: reserve-animation;
    animation-duration: 3s;
    animation-delay:1s;
    opacity:0;
    animation-fill-mode: forwards;

}

.view-menu-btn{
    animation: view-menu-animation;
    animation-duration: 3s;
    animation-delay:1s;
    opacity:0;
    animation-fill-mode: forwards;
}


.main-btn{
    color:#266dd3;
    font-size: 2rem;
    border:2px dotted #266dd3;
    
    
   
}

.main-btn:hover {
    color:#cdedf6;
    border: 2px dotted #d3325f;
    
}
.header-link{
    display:inline-block;
    position: absolute;
    bottom:5%;
    left:50%;
    border-radius: 10px;
}
.header-link{
    background:#cdedf6;
    animation: bounceBottom;
    animation-duration: 3s;
    animation-iteration-count: infinite; /* up and down forever */
}

@keyframes bounceBottom {
    0%{
        transform: translateY(-10px); /* move up */ 
    }
    50%{
        transform: translateY(10px); /* move down */;
    }
    100%{
        transform: translateY(-10px); /*move up again*/
    }
}

/* menu items CSSSS ######### */

.item-container{
    position:relative;
  /* links */
    overflow:hidden; /*to allow image to zoom in when hovered */
    background:linear-gradient(rgb(0,0,0),rgb(0,0,0));  
    transition: all 1s ease;
}

.item-img {
    transition: all 1s ease;
}

/* action to happen to item-img upon hover */
.item-container:hover .item-img{
    transform:scale(1.2); /* increase image size by number */
    opacity:0.5; /* becomes darker */
}
/* Position Text in center of images */
.item-link{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#d3325f;
    font-size:2rem;
    border-top:3px solid #d3325f;
    border-Bottom:3px solid #d3325f;
    transition: all 1s ease;
    opacity:0;
}

.item-container:hover .item-link{
    opacity:1;
}

.item-link:hover {
    color:#cdedf6;
    border:3px solid #cdedf6;
    background: #cdedf6;
    color:#266dd3
}

.item-container:hover {
    outline:10px solid #d3325f;
    outline-offset: 0.8rem;
}





























